<div class="container">
    <!-- <h1>{{title}}</h1>
    <a href='#'>link</a> -->
    <ul>
        <li>
            <a routerLink="/home">Home</a>
        </li>
        <li>
            <a routerLink="/studentslist">Students</a>
        </li>

    </ul>

    <router-outlet></router-outlet>
    <!-- <br>
    <br>
    <app-students-list (selectedStudentToApp)="selectedStudentToApp($event)"></app-students-list>
    <br>
    <br> -->
    <!-- <app-test [testsList]="selectsdStudentTest"></app-test> -->
  
     <!-- <app-observable></app-observable> -->
     
</div>