<br>
<div class="card" *ngIf="student else noStudent">
    <div class="cardbody" *ngIf="student.active==true">
        <div class="form-group">
            <label for="name">Student FirstName:</label>
            <input type="text" class="form-control" id="name" [value]="student.firstName" (focus)="inputFocus()">
        </div>
        <div class="form-group">
            <label for="name">Student LastName:</label>
            <input type="text" class="form-control" id="name" [value]="student.lastName" (focus)="inputFocus()">
        </div>
        <div class="form-group">
            <label for="name">Student Phone:</label>
            <input type="text" class="form-control" id="name" [value]="student.phone" (focus)="inputFocus()">
        </div>


        <button class="btn btn-primary" (click)="saveNewStudent()">Save</button>
    </div>


    <div class="card" *ngIf="!student.active">
       student departure date: {{student.departureDate}}
    </div>

    <div>

    </div>
</div>


<ng-template #noStudent>
    <div class="card">
        No student to detail
    </div>
</ng-template>